

.customCard{
  position: inherit;
  margin: 16px;
  max-width: 1200px;
  min-width: 480px;

  .description{
    font-size: 16px !important;
  }
  .textMuted{
    padding: 8px 16px;
  }
  .chips{
    >div:first-child {
      margin-left: 16px !important;
    }
    div{
      margin: 0px 4px;
    }
  }
}

.bigCard{
  min-width: 80%;
  .MuiCardHeader-content{
    >span:first-child{
      color: $primary;
      font-size: 24px !important;
      font-weight: bold;
    }
    >span:last-child{
      font-size: 18px !important;
      padding: 8px 0px 0px 0px;
    }
  }
}

.cardContainer{
  margin-left: 20% !important;
}
.cardContainer:hover{
  *{
    text-decoration: none !important;
  }
}
.customCard:hover{
  cursor: pointer;
}

.minCard{
  height: 100px;
  .MuiCardHeader-content{
    >span:first-child{
      color: $primary;
      font-size: 20px !important;
      font-weight: bold;
    }
    >span:last-child{
      font-size: 18px !important;
      padding: 8px 0px 0px 0px;
    }
  }
}
